<!-- <h3>Who, me?</h3>
<div id="clearfix">
<img src="/assets/img/me.png" class="img-circle" id="thumb">
<p>Starting this fall (2014), I will be a PhD student at the Wharton Department of Statistics. I am interested in high-dimensional and large-scale data problems being tackled by both statisticians and machine learners and hope that one day I'll be a real life statistician. e-mail, fork, tweet, link-in(?) me with the links below.</p>
</div>-->

 <div class="pull-right">
    <ul class="list-inline">
      <li><a href='mailto:raiden.hasegawa@gmail.com'>email.</a></li>
      <li><a href='http://github.com/raibread'>github.</a></li>
      <!--<li><a href='http://twitter.com/rbhasegawa'>twitter.</a></li>-->
      <li><a href='http://www.linkedin.com/pub/raiden-hasegawa/b/998/433'>linkedin.</a></li>
    </ul>
 </div>
